PORT=4000
NODE_ENV=development
JWT_SECRET=super_secret_jwt_key_change_me_in_production
AUTH_SERVICE_URL=http://localhost:4001
BOOKING_SERVICE_URL=http://localhost:4002
FOOD_SERVICE_URL=http://localhost:4003
CLIENT_URL=http://localhost:5173
